.modalInner {
	width: 300px;
	position: relative;
}

.settingsForm {
	display: flex;
	flex-direction: column;
}

.title {
	font-size: 18px;
	font-weight: 400;
	color: var(--text);
	margin-bottom: 20px;
}

.field {
	> span {
		font-size: 14px;
		font-weight: 400;
		font-family: inherit;
		color: var(--text);
		display: inline-block;
		margin-bottom: 5px;
	}

	> input {
		width: 100%;
		border: 1px solid var(--btn-border);
		background-color: transparent;
		color: var(--text);
		border-radius: 5px;
		padding: 10px 10px;
		font-size: 15px;
		font-weight: 400;
		font-family: inherit;
	}

	> textarea {
		width: 100%;
		border: 1px solid var(--btn-border);
		background-color: transparent;
		color: var(--text);
		border-radius: 5px;
		padding: 10px 10px;
		font-size: 15px;
		font-weight: 400;
		font-family: inherit;
		resize: none;
		height: 100px;
	}

	margin-bottom: 10px;
}

.radioField {
	margin-bottom: 20px;

	> label {
		font-size: 14px;
		font-weight: 400;
		font-family: inherit;
		color: var(--text);
		display: inline-block;
		margin-bottom: 5px;
	}
}

.radioButtons {
	display: flex;
	flex-direction: column;
	gap: 5px;

	> label {
		&:hover {
			background-color: var(--secondary);
		}
	}
}

.saveButton {
	font-size: 16px;
	font-weight: 400;
	color: var(--save-button-text);
	padding: 4px;
	background-color: var(--save-button-bg);
	border-radius: 10px;
	display: inline-block;
	width: 100%;
	font-family: inherit;
	transition: background-color 0.2s;

	&:hover {
		background-color: #aaa;
	}
}
