.projectInfo {
	margin-bottom: 40px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.projectTitle {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 5px;
	color: var(--text);
}

.projectSubtitle {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 15px;
	color: var(--text);
}

.infoWithIcons {
	display: flex;
	align-items: center;
	gap: 30px;

	> .members,
	.tasks {
		display: flex;
		align-items: center;
		gap: 10px;
		font-size: 12px;
		font-weight: 400;
		color: var(--text);
	}
}

.settingsButton {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
	border-radius: 5px;
	transition: background-color 0.2s;

	&:hover {
		background-color: var(--secondary);
	}
}
