.tabs {
	background-color: var(--secondaryFull);
	border-radius: 5px;
	padding: 3px;
	display: flex;
	align-items: center;
	gap: 2px;
	overflow-x: auto;
	white-space: nowrap;
	flex-shrink: 1;

	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.tab {
	color: var(--tab-bg);
	border-radius: 5px;
	font-size: 15px;
	text-transform: capitalize;
	padding: 5px 14px;
	font-family: inherit;
	transition: background-color 0.2s;
	flex-shrink: 0;

	&:hover {
		color: var(--text);
	}

	&.active {
		background-color: var(--tab-bg-active);
		color: var(--text);
	}
}
