.projectsList {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.noProjectsMessage {
	font-size: 20px;
	font-weight: 700;
	color: var(--text);
	text-align: center;
}
