.plannerPage {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 10px 0px 10px 20px;
	height: 100%;
	position: relative;
	overflow: hidden;

	@media screen and (max-width: 430px) {
		padding: 10px 0 0 0;
	}
}

.header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;

	@media screen and (max-width: 430px) {
		margin-bottom: 20px;
	}
}

.planner {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 5px;
	background-color: var(--secondary);
	padding: 0 1px 0 0;
}

.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translate(-50%, -20px);
	}
	to {
		opacity: 1;
		transform: translate(-50%, 0);
	}
}
