.dropdownContainer {
	position: relative;
}

.trigger {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
	width: 100%;
	color: var(--text);
	background-color: transparent;
	border: 1px solid var(--btn-border);
	border-radius: 5px;
	padding: 5px;
	font-size: 14px;
	font-family: inherit;
	transition: background-color 0.2s;
	cursor: pointer;

	&:hover {
		background-color: var(--secondary);
	}
}

.arrowIcon {
	transition: transform 0.2s;

	&.open {
		transform: rotate(180deg);
	}
}

.dropdown {
	width: 300px;
	border: 1px solid var(--btn-border);
	border-radius: 5px;
	background-color: var(--secondaryFull);
	padding: 5px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	z-index: 2100;
}

.item {
	font-family: inherit;
	text-align: left;
	width: 100%;
	border-radius: 5px;
	padding: 7px;
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
	color: var(--text);
	background-color: transparent;
	border: none;
	transition: background-color 0.2s ease;

	&:hover {
		background-color: var(--hover);
	}

	&.active {
		background-color: var(--secondary);
		font-weight: 600;
	}
}

@media screen and (max-width: 600px) {
	.dropdown {
		width: 200px;
	}
}

