.signupPage {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.logo {
	position: absolute;
	left: 30px;
	top: 30px;
}

.authPrompt {
	position: absolute;
	right: 30px;
	top: 30px;
	display: flex;
	align-items: center;
	gap: 10px;

	> span {
		font-size: 14px;
		font-weight: 400;
		color: var(--text);
		font-family: inherit;
	}

	> .button {
		color: var(--text);
		background-color: transparent;
		border: 1px solid var(--btn-border);
		border-radius: 5px;
		padding: 5px 10px;
		font-size: 16px;
		font-family: inherit;
		transition: background-color 0.2s;

		&:hover {
			background-color: var(--secondary);
		}
	}
}

.signupBlock {
	width: 460px;
	border-radius: 5px;
	padding: 20px 40px;
	background-color: var(--secondary);
	color: var(--text);
}

.title {
	font-size: 32px;
	font-weight: 700;
	font-family: inherit;
	margin-bottom: 10px;
	text-align: center;
}

.googleButton {
	width: 100%;
	color: var(--text);
	background-color: transparent;
	border: 1px solid var(--btn-border);
	border-radius: 5px;
	padding: 10px 10px;
	font-size: 14px;
	font-family: inherit;
	margin-bottom: 20px;
	position: relative;
	transition: background-color 0.2s;

	&:hover {
		background-color: var(--primary);
	}

	> svg {
		position: absolute;
		left: 10px;
		top: 50%;
		transform: translateY(-50%);
	}
}

.divider {
	display: flex;
	justify-content: center;
	position: relative;
	margin-bottom: 20px;

	> span {
		display: inline-block;
		font-size: 14px;
		font-weight: 400;
		color: var(--text);
		padding: 3px 10px;
		border: 0.3px solid var(--btn-border);
		border-radius: 5px;
		position: relative;
		background-color: var(--secondaryFull);
	}

	> hr {
		position: absolute;
		width: 100%;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		border: none;
		height: 0.3px;
		background-color: var(--btn-border);
	}
}

.signupForm {
	display: flex;
	flex-direction: column;
}

.formLabel {
	position: relative;

	> span {
		font-size: 14px;
		font-weight: 400;
		font-family: inherit;
		color: var(--text);
		display: inline-block;
		margin-bottom: 5px;
	}

	> input {
		width: 100%;
		border: 1px solid var(--btn-border);
		background-color: transparent;
		color: var(--text);
		border-radius: 5px;
		padding: 10px 10px;
		font-size: 15px;
		font-weight: 400;
		font-family: inherit;
	}

	> input[type='password'] {
		padding-right: 80px;
	}

	&:first-child {
		margin-bottom: 10px;
	}

	&:nth-child(2) {
		margin-bottom: 10px;
	}

	&:nth-child(3) {
		margin-bottom: 30px;
	}
}

.showPasswordButton {
	position: absolute;
	right: 2%;
	top: 58%;
	color: var(--textSecondary);
	font-size: 14px;
	font-weight: 400;

	&:hover {
		text-decoration: underline;
	}
}

.submitButton {
	font-size: 16px;
	font-weight: 400;
	color: var(--save-button-text);
	padding: 10px 5px;
	background-color: var(--save-button-bg);
	border-radius: 10px;
	display: inline-block;
	width: 100%;
	font-family: inherit;
	transition: background-color 0.2s;

	&:hover {
		background-color: #aaa;
	}
}
