.actionButtons {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	display: flex;
	align-items: center;
	position: absolute;
	right: 1%;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 5px;

	> button {
		padding: 0 5px;
		> svg path {
			transition: all 0.2s;
		}
		&:hover {
			> svg path {
				fill: var(--tab-bg);
			}
		}
	}

	> button:not(:last-child) {
		border-right: 0.3px solid var(--btn-border);
	}
}

.editButton {
	> svg {
		width: 17px;
		height: 20px;
		color: #fff;
		opacity: 1;
		transition: opacity 0.2s;
		transform: translateY(2px);
	}
}

.deleteButton {
	> svg {
		transform: translateY(2px);
	}

	&:hover {
		> svg path {
			fill: #dc2a2a !important;
		}
	}
}

.replyButton {
	> svg {
		width: 17px;
		height: 20px;
		color: #fff;
		opacity: 1;
		transition: opacity 0.2s;
		transform: translateY(2px);
	}

	&:hover {
		> svg path {
			fill: transparent !important;
		}

		> svg {
			stroke: var(--tab-bg);
		}
	}
}
