.actionButtons {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	display: flex;
	align-items: center;
	position: absolute;
	right: 1%;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 5px;

	> div {
		display: flex !important;
		align-items: center;
		justify-content: center;

		&:not(:last-child) {
			border-right: 0.3px solid var(--btn-border);
		}
	}

	button {
		padding: 2px 6px;
		background: transparent;
		border: none;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;

		> svg path {
			transition: all 0.2s;
		}

		&:hover {
			> svg path {
				fill: var(--tab-bg);
			}
		}
	}
}

.editButton {
	> svg {
		width: 17px;
		height: 20px;
		color: #fff;
		opacity: 1;
		transition: opacity 0.2s;
	}
}

.deleteButton {
	&:hover {
		> svg path {
			fill: #dc2a2a !important;
		}
	}
}

.replyButton {
	> svg {
		width: 17px;
		height: 20px;
		color: #fff;
		opacity: 1;
		transition: opacity 0.2s;
	}

	&:hover {
		> svg path {
			fill: transparent !important;
		}

		> svg {
			stroke: var(--tab-bg);
		}
	}
}
