.actionButtons {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	display: flex;
	align-items: center;
	gap: 10px;
	position: absolute;
	right: 1%;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 5px;

	> button {
		> svg path {
			transition: all 0.2s;
		}
		&:hover {
			> svg path {
				fill: var(--tab-bg);
			}
		}
	}
}

.editButton {
	> svg {
		width: 17px;
		height: 20px;
		color: #fff;
		opacity: 1;
		transition: opacity 0.2s;
		transform: translateY(2px);
	}
}

.deleteButton {
	> svg {
		transform: translateY(2px);
	}

	&:hover {
		> svg path {
			fill: #dc2a2a !important;
		}
	}
}
