.emptySlot {
	display: flex;
	align-items: center;
	width: 100%;
	border-radius: 5px;
	padding: 7px;
	cursor: pointer;
	position: relative;
	border: 1px solid var(--btn-border);
	transition: background-color 0.2s ease;

	&:hover {
		background-color: var(--hover);
	}
}

.inlineInput {
	width: 100%;
	border: none;
	background-color: transparent;
	outline: none;
	font-size: 16px;
	font-family: inherit;
}
