.plannerPage {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 23px 0px 20px 30px;
	height: 100%;
	position: relative;
}

.header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}

.planner {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 5px;
	background-color: var(--secondary);
	padding: 0 1px 0 0;
}
