.dynamicWidget {
	position: relative;
	text-align: center;
	grid-column: 2;
	grid-row: 1 / span 2;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media screen and (max-width: 1024px) {
		order: 2;
		flex: 1;
	}

	@media screen and (max-width: 768px) {
		display: none;
	}
}

.header {
	position: absolute;
	top: 12px;
	right: 12px;
	z-index: 5;
}

.content {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
