.weekday {
	display: flex;
	flex-direction: column;
	gap: 4px;
	align-items: center;
	text-align: center;
	color: var(--sx-color-neutral);
	cursor: pointer;

	> span:first-child {
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
	}

	> span:last-child {
		font-size: 20px;
		font-weight: 400;
	}
}
