.weekday {
	display: flex;
	flex-direction: column;
	gap: 4px;
	align-items: center;
	text-align: center;
	color: var(--sx-color-neutral);
	cursor: pointer;
	position: relative;

	&:global(.today) {
		.weekdayText {
			color: var(--sx-color-primary);
		}

		.day {
			color: #ffffff;
			background-color: var(--sx-color-primary);
			border-radius: 50%;
		}
	}
}

.weekdayText {
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
}

.day {
	font-size: 20px;
	font-weight: 400;
	padding: 5px 8px;
}

.counter {
	position: absolute;
	right: -20px;
	top: -10px;
	background-color: var(--primary);
	padding: 3px 6px;
	border-radius: 5px;
	color: var(--text);
}
