.listWrapper {
	width: 30%;
	height: 100%;
	position: relative;
	transition: all 0.2s;
	z-index: 10;

	&:global(.collapsed) {
		width: 0;
		min-width: 0;

		.notesList {
			border-right: none;
		}

		.title {
			display: none;
		}
	}

	@media screen and (max-width: 630px) {
		width: 0;
		min-width: 0;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;

		&:not(:global(.collapsed)) {
			width: 280px;
			box-shadow: 10px 0 30px rgba(0, 0, 0, 0.2);
		}
	}
}

.drawerContent {
	width: 100%;
	height: 100%;
	background-color: var(--secondaryFull);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.sidebarButton {
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(100%);
	z-index: 1;
	cursor: pointer;
	padding: 8px;
	border-radius: 0 0 0 5px;
	background-color: var(--secondaryFull);
	transition: background-color 0.2s;

	&:hover {
		background-color: var(--hover);
	}

	> svg {
		width: 20px;
		height: 20px;
		display: block;
	}
}

.title {
	font-size: 24px;
	font-weight: 700;
	color: var(--text);
	padding: 5px 20px 3px 20px;
	border-bottom: 1px solid var(--btn-border);
	border-right: 1px solid var(--btn-border);
	text-align: center;
}

.notesList {
	height: 100%;
	overflow-y: auto;
	border-right: 0.2px solid var(--btn-border);

	&:global(.collapsed) {
		display: none;
	}
}

.noNotesMessage {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	margin-top: 10px;
}
