:root {
	--primary: #ffffff;
	--secondary: #f2f2f2e5;
	--text: #1c1b1b;
	--logo-icon: #1c1b1b;
	--hover: #cecece;
	--checkbox-bg: #101010;
	--checkbox-icon: #ffffff;
	--close-button-bg: #ebebeb;
	--close-button-fill: rgba(28, 27, 27, 0.6);
	--save-button-bg: #1c1b1b;
	--save-button-text: #f2f2f2;
	--theme-toggler-bg: #d9d9d9;
	--theme-toggler-circle: #ffffff;
	--tab-bg: #8c8c8c;
	--tab-bg-active: #636262;
	--line: #c7c7c7;
}

:root.light {
	--primary: #ffffff;
	--secondary: #f2f2f2e5;
	--text: #1c1b1b;
	--logo-icon: #1c1b1b;
	--hover: #cecece;
	--checkbox-bg: #101010;
	--checkbox-icon: #ffffff;
	--close-button-bg: #ebebeb;
	--close-button-fill: rgba(28, 27, 27, 0.6);
	--save-button-bg: #1c1b1b;
	--save-button-text: #f2f2f2;
	--theme-toggler-bg: #d9d9d9;
	--theme-toggler-circle: #ffffff;
	--tab-bg: #8c8c8c;
	--tab-bg-active: #636262;
	--line: #c7c7c7;
}

:root.dark {
	--primary: #1c1b1b;
	--secondary: #0e0e0ee5;
	--text: #ffffff;
	--logo-icon: #ffffff;
	--hover: #1c1b1b;
	--checkbox-bg: #d9d9d9;
	--checkbox-icon: #000000;
	--close-button-bg: #262525;
	--close-button-fill: #ffffff;
	--save-button-bg: #f2f2f2;
	--save-button-text: #000;
	--theme-toggler-bg: #005fed;
	--theme-toggler-circle: #ffffff;
	--tab-bg: #474747;
	--tab-bg-active: #686868;
	--btn-border: #3b3a3a;
	--line: #c7c7c7;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #1c1b1b;
		--secondary: #0e0e0ee5;
		--text: #ffffff;
		--logo-icon: #ffffff;
		--hover: #1c1b1b;
		--checkbox-bg: #d9d9d9;
		--checkbox-icon: #000000;
		--close-button-bg: #262525;
		--close-button-fill: #ffffff;
		--save-button-bg: #f2f2f2;
		--save-button-text: #000;
		--theme-toggler-bg: #005fed;
		--theme-toggler-circle: #ffffff;
		--tab-bg: #474747;
		--tab-bg-active: #686868;
		--btn-border: #3b3a3a;
		--line: #c7c7c7;
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--text);
	background: var(--primary);
	font-family: Noto Sans, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
}

ul {
	list-style: none;
}

.wrapper {
	display: flex;
	padding: 9px 32px;
	height: 100%;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
