:root {
	--primary: #ffffff;
	--secondary: #f2f2f2e5;
	--text: #1c1b1b;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #1c1b1b;
		--secondary: #0e0e0ee5;
		--text: #ffffff;
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--text);
	background: var(--primary);
	font-family: Noto Sans, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
}

ul {
	list-style: none;
}

.wrapper {
	display: flex;
	padding: 9px 32px;
	height: 100%;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
