:root {
	--primary: #ffffff;
	--secondary: #f2f2f2e5;
	--secondaryFull: #f2f2f2;
	--text: #1c1b1b;
	--textSecondary: #1c1b1ba7;
	--logo-icon: #1c1b1b;
	--hover: #cecece;
	--checkbox-bg: #101010;
	--checkbox-icon: #ffffff;
	--close-button-bg: #ebebeb;
	--close-button-fill: rgba(28, 27, 27, 0.6);
	--save-button-bg: #1c1b1b;
	--save-button-text: #f2f2f2;
	--theme-toggler-bg: #d9d9d9;
	--theme-toggler-circle: #ffffff;
	--tab-bg: #8c8c8c;
	--tab-bg-active: #636262;
	--btn-border: #3b3a3a;
	--line: #c7c7c7;
	--date-bg: #b5b5b5;
}

:root.light {
	--primary: #ffffff;
	--secondary: #f2f2f2e5;
	--secondaryFull: #f2f2f2;
	--text: #1c1b1b;
	--textSecondary: #1c1b1ba7;
	--logo-icon: #1c1b1b;
	--hover: #cecece;
	--checkbox-bg: #101010;
	--checkbox-icon: #ffffff;
	--close-button-bg: #ebebeb;
	--close-button-fill: rgba(28, 27, 27, 0.6);
	--save-button-bg: #1c1b1b;
	--save-button-text: #f2f2f2;
	--theme-toggler-bg: #d9d9d9;
	--theme-toggler-circle: #ffffff;
	--tab-bg: #8c8c8c;
	--tab-bg-active: #636262;
	--btn-border: #3b3a3a;
	--line: #c7c7c7;
	--date-bg: #b5b5b5;
}

:root.dark {
	--primary: #1c1b1b;
	--secondary: #0e0e0ee5;
	--secondaryFull: #0e0e0e;
	--text: #ffffff;
	--textSecondary: #ffffffa1;
	--logo-icon: #ffffff;
	--hover: #1c1b1b;
	--checkbox-bg: #d9d9d9;
	--checkbox-icon: #000000;
	--close-button-bg: #262525;
	--close-button-fill: #ffffff;
	--save-button-bg: #f2f2f2;
	--save-button-text: #000;
	--theme-toggler-bg: #005fed;
	--theme-toggler-circle: #ffffff;
	--tab-bg: #474747;
	--tab-bg-active: #686868;
	--btn-border: #3b3a3a;
	--line: #c7c7c7;
	--date-bg: #474747;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #1c1b1b;
		--secondary: #0e0e0ee5;
		--secondaryFull: #0e0e0e;
		--text: #ffffff;
		--textSecondary: #ffffffa1;
		--logo-icon: #ffffff;
		--hover: #1c1b1b;
		--checkbox-bg: #d9d9d9;
		--checkbox-icon: #000000;
		--close-button-bg: #262525;
		--close-button-fill: #ffffff;
		--save-button-bg: #f2f2f2;
		--save-button-text: #000;
		--theme-toggler-bg: #005fed;
		--theme-toggler-circle: #ffffff;
		--tab-bg: #474747;
		--tab-bg-active: #686868;
		--btn-border: #3b3a3a;
		--line: #c7c7c7;
		--date-bg: #474747;
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--text);
	background: var(--primary);
	font-family: Noto Sans, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
}

ul {
	list-style: none;
}

.wrapper {
	display: flex;
	padding: 9px 20px;
	height: 100%;
}

.react-time-picker__wrapper {
	border: none;
}

.tox-tinymce {
	border: none !important;
	border-radius: 0 !important;
	flex: 1 !important;
}

.tox-editor-header {
	background-color: var(--primary) !important;
	// border-bottom: 1px solid var(--btn-border) !important;
}

.tox-toolbar__primary {
	background-color: var(--secondary) !important;
}

.tox-toolbar__group button {
	background-color: transparent !important;
	border: 1px solid var(--btn-border) !important;
	cursor: pointer !important;

	> span {
		color: var(--text) !important;
	}

	> span > svg path {
		fill: var(--text) !important;
	}

	> div > svg path {
		fill: var(--text) !important;
	}

	&.tox-tbtn--disabled {
		cursor: not-allowed !important;
		opacity: 0.5 !important;
	}
}

.tox .tox-split-button__chevron {
	> svg path {
		fill: var(--text) !important;
	}
}

.tox .tox-menu {
	background-color: var(--secondaryFull) !important;
	color: var(--text) !important;
}

.tox .tox-collection--list .tox-collection__item {
	cursor: pointer !important;
}

.tox .tox-collection--list .tox-collection__item--active:not(.tox-collection__item--state-disabled) {
	background-color: var(--secondaryFull) !important;
	color: var(--text) !important;
}

.tox .tox-toolbar,
.tox .tox-toolbar__overflow,
.tox .tox-toolbar__primary {
	background-color: var(--primary) !important;
	border: none !important;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
