.loginPage {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.logo {
	position: absolute;
	left: 30px;
	top: 30px;
}

.authPrompt {
	position: absolute;
	right: 30px;
	top: 30px;
	display: flex;
	align-items: center;
	gap: 10px;

	> span {
		font-size: 14px;
		font-weight: 400;
		color: var(--text);
		font-family: inherit;
	}

	> .button {
		color: var(--text);
		background-color: transparent;
		border: 1px solid var(--btn-border);
		border-radius: 5px;
		padding: 5px 10px;
		font-size: 16px;
		font-family: inherit;
		transition: background-color 0.2s;

		&:hover {
			background-color: var(--secondary);
		}
	}
}

.loginBlock {
	width: 460px;
	border-radius: 5px;
	padding: 20px 40px;
	background-color: var(--secondary);
	color: var(--text);
}

.title {
	font-size: 32px;
	font-weight: 700;
	font-family: inherit;
	margin-bottom: 10px;
	text-align: center;
}

.divider {
	display: flex;
	justify-content: center;
	position: relative;
	margin-bottom: 20px;

	> span {
		display: inline-block;
		font-size: 14px;
		font-weight: 400;
		color: var(--text);
		padding: 3px 10px;
		border: 0.3px solid var(--btn-border);
		border-radius: 5px;
		position: relative;
		background-color: var(--secondaryFull);
	}

	> hr {
		position: absolute;
		width: 100%;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		border: none;
		height: 0.3px;
		background-color: var(--btn-border);
	}
}
