.notesPage {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 23px 0px 20px 30px;
	height: 100%;
	position: relative;
}

.header {
	width: 100%;
	margin-bottom: 40px;
	display: flex;
	justify-content: flex-end;
	gap: 20px;
}

.notes {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	background-color: var(--secondary);
	border-radius: 5px;
	border: 1px solid var(--secondaryFull);
	position: relative;
}

.deleteButton {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0.3px solid #dc2a2a;
	border-radius: 5px;
	padding: 3px;
	transition: all 0.2s;

	&:hover {
		background-color: #dc2a2a;
	}
}

.emptySearch {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
