.loginPage {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.logo {
	position: absolute;
	left: 30px;
	top: 30px;
}

.authPrompt {
	position: absolute;
	right: 30px;
	top: 30px;
	display: flex;
	align-items: center;
	gap: 10px;

	> span {
		font-size: 14px;
		font-weight: 400;
		color: var(--text);
		font-family: inherit;
	}

	> .button {
		color: var(--text);
		background-color: transparent;
		border: 1px solid var(--btn-border);
		border-radius: 5px;
		padding: 5px 10px;
		font-size: 16px;
		font-family: inherit;
		transition: background-color 0.2s;

		&:hover {
			background-color: var(--secondary);
		}
	}
}
