.card {
	display: flex;
	align-items: center;
	width: 100%;
	border-radius: 5px;
	padding: 7px;
	cursor: pointer;
	position: relative;
	transition: background-color 0.2s ease;

	&:hover {
		background-color: var(--hover);
	}
}

.checkbox {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.customCheckbox {
	width: 21px;
	height: 20px;
	background-color: var(--checkbox-bg);
	border-radius: 5px;
	margin-right: 6px;
	display: flex;
	align-items: center;
	justify-content: center;

	.checkbox:checked + &::after {
		content: '';
		width: 6px;
		height: 10px;
		border: solid var(--checkbox-icon);
		border-width: 0 2px 2px 0;
		transform: rotate(45deg) translateY(-2px) translateX(-1px);
	}
}

.label {
	font-size: 16px;
	font-weight: 400;
	color: var(--text);
	user-select: none;

	&:global(.checked) {
		text-decoration: line-through;
	}
}
.deleteButton {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0.3px solid #dc2a2a;
	border-radius: 5px;
	padding: 3px;
	margin-left: auto;
	transition: background-color 0.2s;

	&:hover {
		background-color: #dc2a2a;
	}
}
