.createButton {
	display: flex;
	align-items: center;
	gap: 8px;
	color: var(--text);
	background-color: transparent;
	border: 1px solid var(--btn-border);
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 14px;
	font-family: inherit;
	transition: background-color 0.2s;
	margin-top: auto;
	width: fit-content;
	margin: auto auto 25px auto;

	&:hover {
		background-color: var(--primary);
	}
}
