.dashboardInner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 10px;
	color: var(--text);
	height: 100%;
	margin-bottom: 20px;

	> section {
		background-color: var(--secondary);
		border-radius: 5px;
		padding: 13px 30px;

		> h2 {
			font-size: 24px;
			font-weight: 400;
			margin-bottom: 20px;

			@media screen and (max-width: 1120px) {
				font-size: 21px;
			}
		}
	}

	@media (max-width: 1024px) {
		display: flex;
		flex-direction: column;
	}
}
