.projectPage {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 23px 0px 20px 30px;
	height: 100%;
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
}

.header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.main {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
