:root {
	--primary: #ffffff;
	--secondary: #f2f2f2e5;
	--secondaryFull: #f2f2f2;
	--text: #1c1b1b;
	--textSecondary: #1c1b1ba7;
	--logo-icon: #1c1b1b;
	--hover: #cecece;
	--checkbox-bg: #101010;
	--checkbox-icon: #ffffff;
	--close-button-bg: #ebebeb;
	--close-button-fill: rgba(28, 27, 27, 0.6);
	--save-button-bg: #1c1b1b;
	--save-button-text: #f2f2f2;
	--theme-toggler-bg: #d9d9d9;
	--theme-toggler-circle: #ffffff;
	--tab-bg: #8c8c8c;
	--tab-bg-active: #636262;
	--btn-border: #3b3a3a;
	--line: #c7c7c7;
	--date-bg: #b5b5b5;
	--event-color-orange: #d79716;
	--event-color-red: #d71616;
	--event-color-green: #17720f;
	--event-color-blue: #1351ae;
	--event-color-purple: #97107a;
	--event-color-cyan: #16add7;
}

:root.light {
	--primary: #ffffff;
	--secondary: #f2f2f2e5;
	--secondaryFull: #f2f2f2;
	--text: #1c1b1b;
	--textSecondary: #1c1b1ba7;
	--logo-icon: #1c1b1b;
	--hover: #cecece;
	--checkbox-bg: #101010;
	--checkbox-icon: #ffffff;
	--close-button-bg: #ebebeb;
	--close-button-fill: rgba(28, 27, 27, 0.6);
	--save-button-bg: #1c1b1b;
	--save-button-text: #f2f2f2;
	--theme-toggler-bg: #d9d9d9;
	--theme-toggler-circle: #ffffff;
	--tab-bg: #8c8c8c;
	--tab-bg-active: #636262;
	--btn-border: #3b3a3a;
	--line: #c7c7c7;
	--date-bg: #b5b5b5;
	--event-color-orange: #d79716;
	--event-color-red: #d71616;
	--event-color-green: #17720f;
	--event-color-blue: #1351ae;
	--event-color-purple: #97107a;
	--event-color-cyan: #16add7;
}

:root.dark {
	--primary: #1c1b1b;
	--secondary: #0e0e0ee5;
	--secondaryFull: #0e0e0e;
	--text: #ffffff;
	--textSecondary: #ffffffa1;
	--logo-icon: #ffffff;
	--hover: #1c1b1b;
	--checkbox-bg: #d9d9d9;
	--checkbox-icon: #000000;
	--close-button-bg: #262525;
	--close-button-fill: #ffffff;
	--save-button-bg: #f2f2f2;
	--save-button-text: #000;
	--theme-toggler-bg: #005fed;
	--theme-toggler-circle: #ffffff;
	--tab-bg: #474747;
	--tab-bg-active: #686868;
	--btn-border: #3b3a3a;
	--line: #c7c7c7;
	--date-bg: #474747;
	--event-color-orange: #d79716;
	--event-color-red: #d71616;
	--event-color-green: #17720f;
	--event-color-blue: #1351ae;
	--event-color-purple: #97107a;
	--event-color-cyan: #16add7;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #1c1b1b;
		--secondary: #0e0e0ee5;
		--secondaryFull: #0e0e0e;
		--text: #ffffff;
		--textSecondary: #ffffffa1;
		--logo-icon: #ffffff;
		--hover: #1c1b1b;
		--checkbox-bg: #d9d9d9;
		--checkbox-icon: #000000;
		--close-button-bg: #262525;
		--close-button-fill: #ffffff;
		--save-button-bg: #f2f2f2;
		--save-button-text: #000;
		--theme-toggler-bg: #005fed;
		--theme-toggler-circle: #ffffff;
		--tab-bg: #474747;
		--tab-bg-active: #686868;
		--btn-border: #3b3a3a;
		--line: #c7c7c7;
		--date-bg: #474747;
		--event-color-orange: #d79716;
		--event-color-red: #d71616;
		--event-color-green: #17720f;
		--event-color-blue: #1351ae;
		--event-color-purple: #97107a;
		--event-color-cyan: #16add7;
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--text);
	background: var(--primary);
	font-family: Noto Sans, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
}

ul {
	list-style: none;
}

.main-loader {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #2b2b2b;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.react-time-picker__wrapper {
	border: none;
}

.tox-tinymce {
	border: none !important;
	border-radius: 0 !important;
	flex: 1 !important;
}

.tox-editor-header {
	background-color: var(--primary) !important;
	// border-bottom: 1px solid var(--btn-border) !important;
}

.tox-toolbar__primary {
	background-color: var(--secondary) !important;
}

.tox-toolbar__group button {
	background-color: transparent !important;
	border: 1px solid var(--btn-border) !important;
	cursor: pointer !important;

	> span {
		color: var(--text) !important;
	}

	> span > svg path {
		fill: var(--text) !important;
	}

	> div > svg path {
		fill: var(--text) !important;
	}

	&.tox-tbtn--disabled {
		cursor: not-allowed !important;
		opacity: 0.5 !important;
	}
}

.tox .tox-split-button__chevron {
	> svg path {
		fill: var(--text) !important;
	}
}

.tox .tox-menu {
	background-color: var(--secondaryFull) !important;
	color: var(--text) !important;
}

.tox .tox-collection--list .tox-collection__item {
	cursor: pointer !important;
}

.tox .tox-collection--list .tox-collection__item--active:not(.tox-collection__item--state-disabled) {
	background-color: var(--secondaryFull) !important;
	color: var(--text) !important;
}

.tox .tox-toolbar,
.tox .tox-toolbar__overflow,
.tox .tox-toolbar__primary {
	background-color: var(--primary) !important;
	border: none !important;
}

.ql-toolbar {
	border: none !important;
	border-bottom: 1px solid var(--btn-border) !important;
	font-family: inherit !important;
}

.ql-toolbar .ql-formats:not(:last-child) {
	border-right: 1px solid var(--btn-border) !important;
	padding-right: 12px !important;
}

.ql-container {
	border: none !important;
	height: unset !important;
	font-family: inherit !important;
}

.ql-editor {
	line-height: 22px !important;
	padding: 8px 12px !important;
	color: var(--text) !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	font-family: inherit !important;

	&::before {
		left: 12px !important;
		color: var(--btn-border) !important;
		font-size: 14px !important;
		font-weight: 400 !important;
		font-family: inherit !important;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.ql-renderer {
	padding: 0 !important;
}

.sx-react-calendar-wrapper {
	// width: 1200px;
	max-width: 100vw;
	height: 700px;
	max-height: 100%;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
