.timerInner {
	width: 850px;
	height: 460px;
	background-color: var(--secondary);
	border-radius: 5px;
	padding: 40px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.timerLabel {
	font-size: 40px;
	font-weight: 400;
	font-family: inherit;
	margin-bottom: 30px;
}

.time {
	font-size: 112px;
	font-weight: 400;
	font-family: inherit;
	margin-bottom: 10px;
}

.circles {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-bottom: 40px;
}

.circle {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: transparent;
	border: 1px solid var(--text);
	opacity: 0.4;

	&:global(.active) {
		opacity: 1;
		border-width: 2px;
		border-color: var(--text);
		transform: scale(1.1);
	}

	&:global(.onBreak) {
		opacity: 1;
		border-width: 2px;
		border-color: var(--tab-bg-active);
		border-style: dashed;
	}

	&:global(.completed) {
		opacity: 1;
		background-color: var(--text);
		border-color: var(--text);
	}
}

.resetButton {
	position: absolute;
	top: 20px;
	right: 20px;
}
