.quoteContent {
	font-size: 20px;
	font-style: italic;
	color: var(--text);
	position: relative;
	margin-bottom: 16px;
}

.quoteAuthor {
	font-size: 16px;
	color: #aaa;
	text-align: right;
	font-style: normal;
}

.loader {
	margin: 0 auto;
}
