.wrapper {
	display: flex;
	align-items: center;
	max-width: 170px;
}

.usernameWrapper {
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	width: 100%;

	&:hover .icon {
		opacity: 1;
	}
}

.username {
	font-size: 20px;
	font-weight: 400;
	color: var(--text);
	width: 87%;
	display: -webkit-box;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.usernameInput {
	max-width: 150px;
	font-size: 20px;
	font-weight: 400;
	color: var(--text);
	background: transparent;
	border: none;
	outline: none;
}

.icon {
	width: 19px;
	height: 23px;
	color: #999;
	opacity: 0;
	transition: opacity 0.2s;
}
