.quotes {
	text-align: center;
	grid-column: 2;
	grid-row: 1 / span 2;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media screen and (max-width: 1024px) {
		order: 2;
	}
}

.quoteContent {
	font-size: 22px;
	font-style: italic;
	color: var(--text);
	position: relative;
	margin-bottom: 20px;

	&::before,
	&::after {
		content: '"';
		font-size: 28px;
		color: #aaa;
		vertical-align: top;
	}
}

.quoteAuthor {
	font-size: 16px;
	color: #aaa;
	text-align: right;
	font-style: normal;
}

.loader {
	margin: 0 auto;
}
