.googleButton {
	width: 100%;
	color: var(--text);
	background-color: transparent;
	border: 1px solid var(--btn-border);
	border-radius: 5px;
	padding: 10px 10px;
	font-size: 14px;
	font-family: inherit;
	margin-bottom: 20px;
	position: relative;
	transition: background-color 0.2s;

	&:hover {
		background-color: var(--primary);
	}

	> svg {
		position: absolute;
		left: 10px;
		top: 50%;
		transform: translateY(-50%);
	}
}
