.modalInner {
	position: relative;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	background-color: var(--primary);
	border-radius: 5px;
}

.modalButtons {
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: flex-end;
	margin-bottom: 20px;
}

.editButton {
	> svg {
		width: 21px;
		height: 25px;
		color: #fff;
		opacity: 1;
		transition: opacity 0.2s;
	}
}

.title {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;

	> span {
		display: inline-block;
		width: 16px;
		height: 16px;
		border-radius: 5px;
	}

	> h6 {
		font-size: 18px;
		font-weight: 700;
		color: var(--text);
	}
}

.date {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;

	> p {
		font-size: 16px;
		color: var(--text);
	}
}

.description {
	display: flex;
	align-items: center;
	gap: 10px;
}

.editForm {
	display: flex;
	flex-direction: column;
}

.titleInput {
	width: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid color-mix(in srgb, var(--line) 60%, transparent);
	font-size: 18px;
	font-family: inherit;
	color: var(--text);
	padding: 2px 7px;
	margin-bottom: 20px;

	&::placeholder {
		color: color-mix(in srgb, var(--line) 60%, transparent);
	}
}

.actions {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 10px;
}

.saveBtn {
	font-size: 18px;
	font-weight: 400;
	color: var(--save-button-text);
	padding: 3px 8px;
	background-color: var(--save-button-bg);
	border-radius: 5px;
	display: inline-block;
	font-family: inherit;
	transition: background-color 0.2s;

	&:hover {
		background-color: #aaa;
	}
}

.cancelBtn {
	color: var(--text);
	background-color: transparent;
	border: 1px solid var(--btn-border);
	border-radius: 5px;
	padding: 4px 8px;
	font-size: 16px;
	font-family: inherit;
	transition: background-color 0.2s;

	&:hover {
		background-color: var(--secondary);
	}
}
