.createPasswordPage {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.createPasswordBlock {
	width: 460px;
	border-radius: 5px;
	padding: 20px 40px;
	background-color: var(--secondary);
	color: var(--text);
}

.title {
	font-size: 32px;
	font-weight: 700;
	font-family: inherit;
	margin-bottom: 20px;
	text-align: center;
}
