.newProjectPage {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 23px 0px 20px 30px;
	height: 100%;
	position: relative;
}

.newProject {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.backButton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	padding: 5px 7px;
	transition: background-color 0.2s;

	&:hover {
		background-color: var(--secondary);
	}
}
