.header {
	padding: 10px 15px;
}

.channelTrigger {
	display: flex;
	align-items: center;
	font-family: inherit;

	> span {
		font-size: 18px;
		font-weight: 400;
		color: var(--text);
		margin: 0 10px 0 5px;
	}

	> svg:first-child {
		margin-top: 3px;
	}
}
