.column {
	width: 311px;
	flex-shrink: 0;
	border-radius: 5px;
	background-color: var(--secondary);
	padding: 15px;
	display: flex;
	flex-direction: column;
	overflow: visible;
}

.scrollWrapper {
	overflow-y: auto;
}

.columnHeader {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.icon {
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background-color: var(--date-bg);
	margin-right: 10px;
}

.columnTitle {
	font-size: 20px;
	font-weight: 400;
	color: var(--text);
}

.tasksCounter {
	margin-left: auto;
	font-size: 16px;
	font-weight: 400;
	color: var(--text);
	background-color: var(--date-bg);
	border-radius: 5px;
	padding: 2px 7px;
}

.tasksList {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow-y: visible;
}
