.taskCard {
	width: 100%;
	border-radius: 5px;
	background-color: var(--secondary);
	border: 1px solid var(--btn-border);
	overflow: hidden;
	display: flex;
}

.taskContent {
	flex-basis: 90%;
	padding: 10px;
}

.dragHandle {
	flex-basis: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: grab;
	padding: 10px;
	border-left: 0.3px solid var(--btn-border);
	transition: background-color 0.2s;

	&:hover {
		background-color: var(--hover);
	}

	> button {
		cursor: grab;
	}
}

.taskTitle {
	font-size: 18px;
	font-weight: 400;
	color: var(--text);
	margin-bottom: 5px;
}

.taskDescription {
	font-size: 14px;
	font-weight: 400;
	color: var(--text);
	width: 100%;
	margin-bottom: 10px;
}

.taskCardFooter {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.taskAssignee {
	display: flex;
	align-items: center;
	gap: 10px;

	> span {
		font-size: 14px;
		font-weight: 400;
		color: var(--text);
	}

	> img {
		border-radius: 5px;
		object-fit: cover;
	}
}

.priorityIndicator {
	width: 10px;
	height: 4px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: 10px;
	margin-top: 2px;
}

.taskDate {
	font-size: 14px;
	font-weight: 400;
	color: var(--text);
}
