.modalInner {
	width: 255px;
	position: relative;
}

.title {
	font-size: 18px;
	font-weight: 400;
	color: var(--text);
	margin-bottom: 20px;
}

.taskList {
	display: flex;
	flex-direction: column;
	gap: 5px;
	max-height: 295px;
	overflow-y: auto;

	> li > label {
		&:hover {
			background-color: var(--secondary);
		}
	}
}

.addTaskButton {
	display: flex;
	align-items: center;
	gap: 8px;
	color: var(--text);
	background-color: transparent;
	border: 1px solid var(--btn-border);
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 16px;
	font-family: inherit;
	transition: background-color 0.2s;
	margin: 20px auto 0 auto;

	&:hover {
		background-color: var(--secondary);
	}
}

.closeButton {
	position: absolute;
	right: -10px;
	top: -10px;
	width: 25px;
	height: 25px;

	> svg circle {
		fill: var(--close-button-bg);
		transition: all 0.2s;
	}

	> svg path {
		fill: var(--close-button-fill);
	}

	&:hover {
		> svg circle {
			fill: var(--hover);
		}
	}
}

.loader {
	display: block;
	text-align: center;
	margin: 0 auto;
}

.emptyMessage {
	font-size: 18px;
	text-align: center;
	color: var(--text);
}

.newTaskItem {
	display: flex;
	align-items: center;
	width: 100%;
	border-radius: 5px;
	padding: 7px;
	cursor: pointer;
	position: relative;
	border: 1px solid var(--btn-border);
	transition: background-color 0.2s ease;

	&:hover {
		background-color: var(--hover);
	}
}

.inlineInput {
	width: 100%;
	border: none;
	background-color: transparent;
	outline: none;
	font-size: 16px;
	font-family: inherit;
	color: var(--text);
}
