.newProjectPage {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 23px 0px 20px 30px;
	height: 100%;
	position: relative;
}

.newProject {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
